.title {
  font-family: var(--font-areainktrap);
  font-weight: 400;
  font-size: 45px;
  line-height: 1.1;
  color: var(--color-night);
  max-width: 620px;
}

.description {
  font-family: var(--font-inter);
  font-size: 24px;
  line-height: 1.2;
  color: var(--color-night);
  padding-top: 2rem;
  max-width: 620px;
}

.description.meta {
  color: var(--text-grey-darkest);
  font-size: 22px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .title,
  .title.meta {
    font-size: 32px;
  }

  .description {
    font-size: 18px;
    padding: 1rem 0;
    max-width: 100%;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .title,
  .title.meta {
    font-size: 26px;
  }

  .description {
    font-size: 16px;
    padding: 1rem 0;
    max-width: 100%;
  }
}
