.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 240px;
  padding: 12px 64px;
  background: var(--button-bg);
  border-radius: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: var(--button-text);
  font-family: var(--font-roboto);
  font-style: normal;
}
