.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  padding: 12px 64px;
  background: var(--color-midnight);
  border: 0;
  border-radius: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: var(--color-white);
  font-family: var(--font-inter);
}

.button:hover,
.button:focus {
  filter: brightness(98%);
  cursor: pointer;
}

.button:active {
  filter: brightness(95%);
}

.button:disabled,
.button:disabled:hover,
.button:disabled:focus {
  filter: brightness(110%);
  cursor: not-allowed;
}

/* Mobile */
@media (max-width: 700px) {
  .button {
    max-width: unset;
    width: 100%;
  }
}
