.card {
  display: flex;
  flex-direction: row;
  background-color: var(--color-white);
  align-items: flex-start;
  height: 100%;
  border: 1px solid var(--color-grey);
  border-radius: 16px;
  padding: 3rem;
}

.avatar {
  height: 72px;
  width: 72px;
  border-radius: 100%;
  max-width: 72px;
  border: 1px solid var(--color-grey);
}

.content {
  padding-left: 1.5rem;
}

.title {
  font-family: var(--font-areainktrap);
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: var(--color-night);
}

.description {
  padding-top: 8px;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  text-align: left;
  color: var(--color-night);
}

.blurred {
  opacity: 0.2;
}

/* Mobile */
@media (max-width: 700px) {
  .card {
    max-width: unset;
    height: auto;
  }

  .avatar {
    height: 44px;
    width: 44px;
    max-width: 44px;
    border-radius: 100%;
  }

  .title {
    font-size: 20px;
    line-height: 40px;
  }

  .description {
    font-size: 16px;
    line-height: 19px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .card {
    max-width: 700px;
    height: auto;
  }

  .title {
    font-size: 24px;
  }

  .description {
    font-size: 20px;
    line-height: 24px;
  }
}
