.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 2rem;
}

.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 4rem;
  align-items: center;
  justify-content: space-between;
}

.section img {
  justify-self: flex-end;
}

.links {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 20px 0;
  justify-content: flex-end;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  padding: 0 12px;
  font-family: var(--font-roboto);
  font-style: normal;
  color: var(--text-dark);
}
