:root {
  --max-width: 1440px;

  --text-dark: #0c0c0c;
  --text-light: #00496d;
  --text-white: #fff;
  --text-grey-light: #D5DDE4;
  --text-grey-darkest: #404B59;
  --text-lighter: #aebecc;
  --text-black: #000000;
  
  --text-link: #000;

  --button-bg: #00496d;
  --button-text: #ffffff;

  --error: #ec302f;
  --success: #28b328;

  --error-toast: #ec302f;

  --indicator: #d5dde4;
  --indicator-active: #fa7328;

  --bubble-background: #ffffff;
  --input-background: #ffffff;
  --input-border: #aebecc;

  --border: #f8f9fa;

  --background: #fff;
  --background-meta: #F8F9FA;
}

/* Large Desktop */
@media (min-width: 1440px) and (orientation: portrait) {
  :root {
    --max-width: 1440px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.layout {
  background-image: url("/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
}

.layout.meta {
  background-size: cover;
  background-color: var(--background-meta);
  background-image: unset;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
  z-index: 1;
}

.layout.meta::before,
.layout.meta::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
}

.layout.meta::before {
  top: 0;
  background-image: url(/top-buble.svg);
  background-position: 100% 100%;
  z-index: -1;
  background-size: 100% 100%;
  width: 100%;
  height: 37.5%;
}

.layout.meta::after {
  bottom: 0;
  background-image: url("/bottom-buble.svg");
  background-position: 100% 100%;
  z-index: -1;
  background-size: 100% 100%;
  width: 100%;
  height: 25%;
}

/* Tablet and Smaller Desktop For Meta Page */
@media (min-width: 1120.5) and (max-width: 1285px) {
  .layout.meta::before {
    height: 45%;
  }
}
@media (min-width: 770px) and (max-width: 1120px) {
  .layout.meta::before {
    height: 55%;
  }
}
/* Mobile For Meta Page */

@media (max-width: 769px) {
  .layout.meta::before {
    height: 65%;
  }
}

@media (max-width: 700px) {
  .layout.meta::before {
    height: 32%;
  }
}
@media (max-width: 400px) {
  .layout.meta::before {
    height: 36%;
  }
}
@media (max-width: 365px) {
  .layout.meta::before {
    height: 38%;
  }
}
@media (max-width: 290px) {
  .layout.meta::before {
    height: 48%;
  }
}


a {
  color: var(--text-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-lighter);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text-lighter);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text-lighter);
}
