:root {
  --max-width: 1440px;

  --color-sunset: #fa7328;
  --color-sunset-light: #fc9d69;

  --color-midnight: #1c1f32;
  --color-blue-sky: #00496d;
  --color-blue-sky-light: #336d8a;
  --color-blue-sky-lighter: #99b6c5;
  --color-blue-sky-lightest: #e6edf0;

  --color-black: #000;
  --color-night: #0c0c0c;
  --color-grey-darkest: #404b59;
  --color-grey-darker: #6e7a89;
  --color-grey: #aebecc;
  --color-grey-lightest: #f8f9fa;
  --color-white: #fff;

  --color-error: #ec302f;
  --color-warning: #ffc107;
  --color-success: #117627;

  --background: var(--color-grey-lightest);
}

/* Large Desktop */
@media (min-width: 1440px) and (orientation: portrait) {
  :root {
    --max-width: 1440px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.layout {
  background-size: cover;
  background-color: var(--background);
  background-image: unset;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
  z-index: 1;
}

.layout::before,
.layout::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.layout::before {
  top: 0;
  background-image: url("/bg-top.svg");
  background-position: center 100%;
  z-index: -1;
  background-size: cover;
  width: 100%;
  height: 40%;
}

.layout::after {
  bottom: 0;
  background-image: url("/bg-bottom.svg");
  background-position: center 100%;
  z-index: -1;
  background-size: 100% 100%;
  width: 100%;
  height: 28%;
}

.layout.meta::before {
  background-image: url("/bg-meta-top.svg");
}

.layout.meta::after {
  background-image: url("/bg-meta-bottom.svg");
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .layout::before {
    height: 38%;
  }

  .layout::after {
    height: 39%;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .layout::before {
    height: 19%;
  }

  .layout::after {
    background-size: cover;
    height: 37%;
  }
}

a {
  color: var(--color-midnight);
  text-decoration: none;
}

a:hover {
  color: var(--color-black);
  text-decoration: underline;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-grey);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color-grey);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-grey);
}
