:root {
  --max-width: 1400px;

  --text-dark: #404b59;
  --text-light: #6e7a89;
  --text-lighter: #aebecc;

  --button-bg: #e66891;
  --button-text: #ffffff;

  --error: #e66891;
  --success: #28b328;

  --error-toast: #d32323;

  --indicator: #d5dde4;
  --indicator-active: #e66891;

  --bubble-background: #ffffff;
  --input-background: #ffffff;
  --input-border: #d5dde4;

  --border: #f8f9fa;

  --background: #ffffff;
}

/* Large Desktop */
@media (min-width: 1440px) and (orientation: portrait) {
  :root {
    --max-width: 1600px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-image: url("/background.svg");
  background-position: center;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
}

a {
  color: inherit;
  text-decoration: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-lighter);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text-lighter);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text-lighter);
}
