.header {
  display: flex;
  padding: 4rem 2rem 0;
  max-width: var(--max-width);
  margin: 0 auto;
}

/* Mobile */
@media (max-width: 700px) {
  .header {
    padding: 2rem;
  }
  .header img {
    width: 84px;
    height: 50px;
  }
}
