.title {
  font-family: var(--font-areainktrap);
  font-weight: 400;
  font-size: 60px;
  line-height: 1.1;
  color: var(--color-night);
  max-width: 620px;
  margin-top: 10rem;
}

.title.meta {
  color: var(--color-white);
}

.description {
  display: flex;
  flex-direction: column;
  font-family: var(--font-inter);
  font-size: 22px;
  line-height: 1.2;
  color: var(--color-night);
  padding: 1.5em 0 0 0;
  max-width: 620px;
}

.description.meta {
  color: var(--color-white);
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .title {
    font-size: 48px;
    margin-top: 4rem;
  }

  .description {
    font-size: 18px;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .title,
  .title.meta {
    font-size: 40px;
    margin-top: 0;
  }

  .description {
    font-size: 16px;
  }
}
