.container {
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: grid;
  row-gap: 2.5rem;
  column-gap: 1.3rem;
  grid-template-columns: repeat(6, 1fr);
  max-width: 750px;
  align-items: flex-end;
}

.formContainer :nth-child(n) {
  grid-column: span 2;
}

.formContainer :nth-child(n + 4) {
  grid-column: span 3;
}

.formContainer :nth-child(6) {
  grid-column: span 6;
}

.formContainer :last-child {
  max-width: unset;
}

.formContainer input[type="text"],
.formContainer select {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 12px 16px;

  gap: 12px;

  background: var(--input-background);
  border-radius: 16px;

  border: 1.5px solid var(--input-border);

  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.formContainer select {
  appearance: none;
}

.formContainer select::-ms-expand {
  display: none;
}

.formContainer > button {
  margin-top: 15px;
}

.formContainer p {
  color: var(--error);
  font-family: var(--font-roboto);
  font-style: normal;
  font-size: 14px;
  position: absolute;
  top: 48px;
  left: 4px;
}

.dropdownHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.inputHolder {
  display: flex;
  flex: 1;
  position: relative;
}

.checkboxHolder {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.checkboxHolder input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxHolder a {
  color: var(--button-bg);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 1px solid var(--input-border);
  border-radius: 6px;
}

.checkboxHolder:hover input ~ .checkmark {
  background-color: #f3f3f3;
}

.checkboxHolder input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxHolder input:checked ~ .checkmark:after {
  display: block;
}

.checkboxHolder .checkmark:after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.formContainer label {
  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: var(--text-dark);
}

.inputHolder input.errorInput,
.dropdownHolder select.errorInput,
.checkboxHolder span.errorInput {
  border: 1.5px solid var(--error);
}

.notSelected {
  color: var(--text-lighter);
}

.arrow {
  position: absolute;
  display: inline-block;
  border: solid var(--text-lighter);
  border-width: 0 2px 2px 0;
  padding: 4px;
  transform: rotate(45deg);
  right: 17px;
  top: 16px;
}

.successMessage {
  font-family: var(--font-roboto);
  font-style: normal;
  font-size: 16px;
  color: var(--success);
  margin-bottom: 20px;
}

.errorMessage {
  font-family: var(--font-roboto);
  font-style: normal;
  font-size: 16px;
  color: var(--error);
  margin-bottom: 20px;
}

/* Mobile */
@media (max-width: 700px) {
  .formContainer {
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .formContainer > div:nth-of-type(2),
  .formContainer > div:nth-of-type(3) {
    grid-column: span 1;
  }

  .formContainer > div:last-of-type {
    row-gap: 0;
    display: none;
  }

  .formContainer :nth-child(n + 4) {
    grid-column: span 2;
  }

  .formContainer :last-child {
    margin-top: 0;
  }
}

/* Large Mobile and Tablet */
@media (min-width: 701px) and (max-width: 780px) {
  .formContainer > div:nth-of-type(1),
  .formContainer > div:nth-of-type(2),
  .formContainer > div:nth-of-type(3) {
    grid-column: span 6;
  }

  .formContainer button {
    padding: 12px 20px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 781px) and (max-width: 1120px) {
  .formContainer {
    column-gap: 1rem;
  }

  .formContainer > div:nth-of-type(1) {
    grid-column: span 6;
  }

  .formContainer > div:nth-of-type(2),
  .formContainer > div:nth-of-type(3) {
    grid-column: span 3;
  }

  .formContainer button {
    padding: 12px 20px;
  }
}
